<style>
    .content-box {
        min-height: 93vh;
        padding: 15px;
        background-color: rgba(255, 255, 255, .8);
    }

    .sns-container li a{
        color: black;
    }

    .content h1{
        margin-bottom: 20px;
        text-align: center;
    }

    strong{
        font-size: 30px;
    }
</style>
<%
    // 优先使用专用的about页面头像, 如果没有设置才是用主页的用户头像
    var avatar = theme.user_intro_avatar || theme.user_avatar || ''
%>
<div class="container">
    <div class="content-box full-width is-flex justify-center">
        <div class="columns">
            <div class="column is-5">
                <img class="avatar" src="<%- avatar %>">
            </div>
            <div class="column">
                <div class="content">
                    <h1>
                        <%= __('about')%>
                    </h1>
                    <strong><%- theme.user_name || '' %></strong>
                    <p class="is-flex align-center"><i class="fa fa-location-arrow" style="margin-right: 5px;"></i> <%- theme.user_location %></p>
                    <p><%- theme.user_description %></p>
                    <p><%- theme.user_introduction || ''%></p>
                </div>
                <div>
                    <ul class="sns-container is-flex">
                        <% if (theme.rss) { %>
                        <li>
                            <a href=<%= theme.rss %>>
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                                        </span>
                            </a>
                        </li>
                        <% } %>

                        <% if (theme.twitter_url) { %>
                        <li>
                            <a target="_blank" href=<%= theme.twitter_url %>>
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                        </span>
                            </a>
                        </li>
                        <% } %>

                        <% if (theme.zhihu_url) { %>
                        <li>
                            <a target="_blank" href=<%= theme.zhihu_url %>>
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa  fa-stack-1x fa-inverse">知</i>
                                        </span>
                            </a>
                        </li>
                        <% } %>

                        <% if (theme.weibo_url) { %>
                        <li>
                            <a target="_blank" href=<%= theme.weibo_url %>>
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                                        </span>
                            </a>
                        </li>
                        <% } %>

                        <% if (theme.facebook_url) { %>
                        <li>
                            <a target="_blank" href=<%= theme.facebook_url %>>
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                        </span>
                            </a>
                        </li>
                        <% } %>

                        <% if (theme.jianshu_url) { %>
                        <li>
                            <a target="_blank" href=<%= theme.jianshu_url %>>
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                                        </span>
                            </a>
                        </li>
                        <% } %>

                        <% if (theme.github_url) { %>
                        <li>
                            <a target="_blank" href=<%= theme.github_url %>>
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                        </span>
                            </a>
                        </li>
                        <% } %>

                        <% if (theme.linkedin_url) { %>
                        <li>
                            <a target="_blank" href=<%= theme.linkedin_url %>>
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                        </span>
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>