<!--底部信息-->
<style>
  #footer {
    min-height: 10vh;
    background: black;
    color: #fff;
  }

  #footer a {
    color: #e1e1e1;
  }
</style>
<footer id="footer" class="has-text-centered is-flex center">
  <div class="container has-padding">
    <div>
      <div>
        <!--请您保留作者署名, 主题制作来之不易-->
        Theme by <a href=<%= theme.theme_url%>><%= theme.theme%></a>
        <br>
        Copyright © <a href=<%= theme.copyright_url%> target="_blank"><%= theme.copyright %></a> <%= theme.copyright_date%>
        <br>
        Powered by <a href=<%= theme.power_url%> target="_blank"><%= theme.power%></a>
      </div>
    </div>
  </div>
</footer>

<%- js('js/search_core')%>
<%- js('js/script')%>
